body{
    display:flex;
}

.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
     margin-left: 90px;
}

.topbar{
    background:#09B6B2;
    padding:20px;
    display:flex;
    justify-content:center;
}

.search{
    width:350px;
    padding:10px 20px;
    border:none;
    border-radius:25px;
}