body{
   background-image: url("../img/fondo.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
#fondo1{
    background-image: url("../img/fondo_inicio.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    
}
button{
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
}
#informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 10%;
}
#fondo1 h1{
    color: #C7D06C;
    text-shadow:  
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', sans-serif;
}

#fondo1 button{
    color: #C7D06C;
}


.card {
    width: 230px;
    height: 300px;
    perspective: 1000px;
    margin: 30px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 15px;
    text-align: center;
    background: #79D0C0;
}

.card-front img {
    width: 80px;
    margin-bottom: 10px;
}

.card-back {
    transform: rotateY(180deg);
}
