body{
   background-image: url("../img/fondo.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
#fondo1{
    background-image: url("../img/fondo_inicio.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    
}
#fondo1 h1{
    color: #C7D06C;
    text-shadow:  
        -3px -3px 0 white,
         3px -3px 0 white,
        -3px  3px 0 white,
         3px  3px 0 white;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', sans-serif;
    font-size: 80px;
    text-align: center;
}

#fondo1 button{
    background-color: #C7D06C;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
    height: 65px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.247);
}

#fondo1 button:hover{
     transform: translateY(-3px) translateX(3px);
}




#informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 10%;
}

h3, p{
    color: white;
}


.card {
    width: 230px;
    height: 300px;
    perspective: 1000px;
    margin: 30px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.247);
    padding: 15px;
    text-align: center;
    background: #79D0C0;
}

.card-front img {
    width: 150px;
    margin-bottom: 10px;
}

.card-back {
    transform: rotateY(180deg);
}
