body{
   background-image: url("../img/fondo1_inicio.png"); 
}
button{
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
}
.card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}