/* ========================
   VARIABLES
======================== */
:root {
    --sidebar-width: 90px;
    --primary: #09B6B2;
    --secondary: #67B19C;
    --bg-main: #F1ECCE;
    --text-light: #ffffff;
    --radius-full: 999px;
}

/* ========================
   RESET
======================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Concert One", sans-serif !important;
    background-color: var(--bg-main) !important;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

/* ========================
   SIDEBAR
======================== */
#barraLateral {
    width: var(--sidebar-width);
    background-color: var(--primary);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    height: 100vh;
}

#barraLateral ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#barraLateral button {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 0.9rem;
    cursor: pointer;
}

#barraLateral button i {
    font-size: 1.5rem;
    display: block;
}

#barraLateral #logo {
    width: 40px;
    height: auto;
}

#barraLateral .img-perfil {
    background-color: var(--text-light);
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#username {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ========================
   CONTENIDO
======================== */
#contenidos {
    flex: 1;
    margin-left: var(--sidebar-width);
    position: relative;
}

/* ========================
   BUSCADOR
======================== */
#buscador {
    background-color: var(--secondary);
}

#buscadorInput {
    width: 100%;
    border-radius: var(--radius-full);
    border: none;
    outline: none;
    color: var(--primary);
    text-align: center;
    font-size: 150%;

}

#buscadorInput::placeholder {
    color: var(--primary);
    text-align: center;
}

/* ========================
   WAVES
======================== */
.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
}

/* ========================
   RESPONSIVE
======================== */

/* Tablet */
@media (max-width: 900px) {
    :root {
        --sidebar-width: 70px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    body {
        flex-direction: column;
    }

    #barraLateral ul {
        flex-direction: row;
        gap: 2rem;
    }

    #contenidos {
        margin-left: 0;
        margin-bottom: 80px;
    }
}