*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Baloo 2', cursive;
    background-color:#F1ECCE;
}

/* ===== BARRA ADMIN ===== */
.admin-bar{
    background-color:#7c4bc4;
    color:white;
    padding:12px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.admin-title{
    font-size:1.3rem;
}

.btn-logout{
    background:#B7C063;
    border:none;
    padding:8px 20px;
    border-radius:30px;
    color:white;
}

/* ===== TITULO ===== */
.titulo{
    font-size:3rem;
    color:#7c4bc4;
    text-shadow:3px 3px 0px white;
    text-align:center;
    margin:40px 0;
}

/* ===== BUSCADOR ===== */
.search-box{
    background:#e6e6e6;
    border-radius:50px;
    padding:12px 25px;
    display:flex;
    align-items:center;
    max-width:900px;
    margin:0 auto 40px;
}

.search-box input{
    border:none;
    background:transparent;
    width:100%;
    outline:none;
    font-size:1.1rem;
    margin-left:15px;
}

/* ===== TABLA ===== */
.tabla-container{
    background:#e6e6e6;
    border-radius:20px;
    padding:20px;
    max-width:1200px;
    margin:0 auto 60px;
}

th{
    font-size:1rem;
}

.btn-edit{
    background:#FFD93D;
    border:none;
    padding:5px 15px;
    border-radius:15px;
}

.btn-delete{
    background:#FF6B6B;
    border:none;
    padding:5px 15px;
    border-radius:15px;
    color:white;
}

/* ===== TARJETA FORM ===== */
.card-admin{
    background:linear-gradient(145deg,#a06cd5,#8f63c4);
    border-radius:40px;
    padding:50px;
    max-width:900px;
    margin:0 auto 100px;
    color:white;
}

.card-admin h3{
    text-align:center;
    margin-bottom:40px;
}

.form-label{
    font-size:1.3rem;
}

.form-input{
    width:100%;
    padding:12px 20px;
    border-radius:30px;
    border:none;
    background:#e6e6e6;
}

.btn-agregar{
    background:#B7C063;
    border:none;
    padding:15px 60px;
    font-size:1.2rem;
    border-radius:50px;
    color:white;
    box-shadow:0 8px 15px rgba(0,0,0,0.2);
    display:block;
    margin:40px auto 0;
}

/* ===== RESPONSIVE ===== */
@media (max-width:768px){

    .titulo{
        font-size:2.2rem;
    }

    .card-admin{
        padding:25px;
    }

    .form-label{
        font-size:1.1rem;
        margin-bottom:5px;
    }

    .admin-bar{
        flex-direction:column;
        text-align:center;
        gap:10px;
    }

}
